/*
██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗
██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║
██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║
██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║
██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║
╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝*/

div.primary-btn-container {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    padding: 0.5rem 0;
}

a.primary-btn {
    position: relative;
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--foreground);
    color: var(--foreground);
    transition: 0.35s;
}

a.primary-btn::before {
    content: "";
    background-color: var(--foreground);
    position: absolute;
    display: block;
    width: 0%;
    z-index: -1;
    aspect-ratio: 1/1;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: 0.75s;
}

a.primary-btn:hover {
    color: var(--background);
}

a.primary-btn:hover::before {
    width: 400%;
}