/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝*/


header, nav {
    position: fixed;
}

header, ol#nav-list {
    display: flex;
}

header {
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    background-color: #FBFBFB;
}

h1#logo-title {
    margin: 0;
}

img#logo-img {
    width: 42px;
}

input#toggle-nav {
    display: none;
}

nav, ol#nav-list {
    display: flex;
}

nav {
    inset: 0 0 0 20%;
    background-color: #202020;
    transition: 0.75s;
    transform: translate(100%);
}

ol#nav-list {
    margin: 100px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-transform: capitalize;
}

li.nav-li > a {
    color: var(--foreground-dark);
}

li.nav-li:hover > a {
    color: var(--foreground-dark);
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

input#toggle-nav:checked ~ nav {
    transform: translate(0%);
}

label#hamburger-label {
    position: relative;
    z-index: 100;
}

.hamburger-line {
    transition: .5s;
    stroke-dasharray: 27 1000;
}

.hamburger-line {
    stroke: var(--foreground-2);
}

input#toggle-nav:checked ~ label > svg > .hamburger-line {
    stroke-dasharray: 111 1000;
    stroke-dashoffset: -59;
    stroke: var(--foreground-dark);
}

#hamburger-container {
    height: fit-content;
}

@media screen and (width >= 720px) {
    header {
        justify-content: space-around;
    }
    
    label#hamburger-label {
        display: none;
    }

    nav {
        position: relative;
        transform: translate(0%);
        inset: 0;
        background-color: transparent;
    }

    ol#nav-list {
        flex-direction: row;
        inset: 0;
        margin: 0;
    }

    li.nav-li > a {
        position: relative;
        color: var(--foreground-2);
        font-weight: 400;
    }
    
    li.nav-li:hover > a {
        color: var(--foreground-2);
        text-decoration: none;
    }

    li.nav-li > a::before {
        content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 0px;
        bottom: 0;
        transform: translateY(2px);
        background-color: red;
        transition: 0.25s;
    }

    li.nav-li:hover > a::before {
        width: 100%;
    }
}

/* Code by Colle Joulian */