section.product-section {
    padding-top: 50px;
    display: grid;
    grid-auto-flow: row;
    height: 100%;
}

img.product-img {
    aspect-ratio: 1 / 1;
}

div.product-info-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

div.product-info-container > h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

div.product-info-container > h2 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

div.product-info-container > p {
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    max-width: 512px;
}

ul.product-size-ul {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li.product-size {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    width: 75px;
    border: 1px solid var(--foreground);
    border-style: solid solid solid solid;
}

li.product-size > input[type="radio"] {
    display: none;
}

li.product-size:has(input[type="radio"]:checked) {
    background-color: var(--foreground);
    color: var(--background);
}

li.product-size > label {
    width: 100%;
    height: 100%;
    text-align: center;
}

ul.product-disclaimers {
    padding: 0;
}

li.product-disclaimer {
    font-size: 0.65rem;
    font-weight: 200;
}

@media screen and (width >= 900px) {
    section.product-section {
        grid-auto-flow: column;
        grid-template-columns: 90vh 1fr;
    }

    li.product-size {
        width: 50px;
    }
}

@media screen and (width >= 1300px) {
    li.product-size {
        font-size: 1rem;
        height: 1.5rem;
        width: 100px;
    }
}

div.comment, div.comment-top, ul.comment-stars {
    display: flex;
}

div.comment-top, ul.comment-stars {
    flex-direction: row;
    align-items: center;
}

div.comment {
    gap: 0.35rem;
}

div.comment-top {
    gap: 0.5rem;
}

div.comment {
    flex-direction: column;
}

img.comment-img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

span.comment-username {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 500;
}

ul.comment-stars {
    margin: 0;
    gap: 0.25rem;
}

li.comment-star {
    opacity: 0.5;
    display: block;
    height: 14px;
    width: 14px;
    color: transparent;
    border: 2px solid var(--foreground-2);
    border-radius: 100%;
}

li.comment-full-star {
    opacity: 1;
    background-color: red;
    border-color: red;
}

p.comment-description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    max-width: 720px;
}

div.add-comment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

textarea#add-comment-area {
    padding: 0.25rem 0.5rem;
    max-width: 720px;
    min-height: 5em;
    resize: none;
    border: 1px solid gray;
}

textarea#add-comment-area:focus {
    outline: none;
    border: 1px solid var(--foreground);
}

button.add-comment-btn {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid var(--foreground);
}

button.add-comment-btn:hover {
    cursor: pointer;
}

div#send-comment-modal {
    display: none;
}

div#send-comment-modal:target {
    background-color: rgba(0, 0, 0, 0.52);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
}

div.send-comment-modal-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: var(--background);
    gap: 2rem;
    padding: 2rem;
    margin: 1rem;
    max-width: 512px;
}

div.send-comment-modal-container div.primary-btn-container {
    background-color: transparent;
}

div.send-comment-modal-container div.primary-btn-container:hover,
div.send-comment-modal-container div.primary-btn-container:focus  {
    background-color: red;
}